html( lang="en" )
  include ./head.pug

  body.container
    div.title CV

    div.meta
      h2
        a( href=data.links.site ).meta__name.link #{data.personal.name} #{data.personal.surname}
      p.meta__about
        | #{data.personal.position} at&#32;
        a( href=data.links.company ).meta__company.link #{data.personal.company}
        |.<br>
        span.note
          | see&#32;
          a( href=data.links.linkedin ).link LinkedIn
          | &#32;for more info on the projects.

    div.langs
      each lang in data.languages
        div
          span.langs__title #{lang.title}
          | : #{lang.level}

    div.skills
      each category in data.skills
        div.skills__category
          div.category__title #{category.title}
          each section in category.sections
            div.skills__section
              div.section__title #{section.title}
              each skill in section.enrties
                div( class=`skills__entry--${skill.rank}-star` ).skills__entry
                  | #{skill.title}
